version: '3'
services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: marketplace
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - mynetwork

  myapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8443:8443"
    depends_on:
      - postgres
    networks:
      - mynetwork
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/marketplace
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      EMAIL_HOST: ${EMAIL_HOST}
      FRONT_HOST: ${FRONT_HOST}
      SSL_PATH: ${SSL_PATH}
      SSL_PASSWORD: ${SSL_PASSWORD}
      YOUR_EMAIL: ${YOUR_EMAIL}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      JWT_TOKEN_SECRET_ACCESS: ${JWT_TOKEN_SECRET_ACCESS}
      JWT_TOKEN_SECRET_REFRESH: ${JWT_TOKEN_SECRET_REFRESH}

networks:
  mynetwork: